In [ ]:
"""Write a program which will find all such numbers which are divisible by 7 but are not a multiple
of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a
comma-separated sequence on a single line"""

In [15]:
numbers = range(2000,3200+1)
l = []
c =[]
for i in numbers:
    if (i % 7)==0:
        l.append(i)
for z in l:
    if (z % 5)==0:
        l.remove(z)

print('list:\n\t',l)

list:
	 [2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

In [19]:
'''Write a Python program to accept the user's first and last name and then getting them printed in
the the reverse order with a space between first name and last name.'''

n1=""
n2=""
reverse_name =""
name1 = list(input(" Enter the first name:"))
name2 = list(input("Enter The last name:"))
for rev1 in name1[::-1]:
    n1 = n1 + rev1
#print(n1)
for rev2 in name2[::-1]:
    n2 = n2 + rev2
#print(n2)

reverse_name= n1 +" "+ n2
reverse_name

 Enter the first name:sanket
Enter The last name:wade

'teknas edaw'

In [6]:
#Write a Python program to find the volume of a sphere with diameter 12 cm.
import math
diameter = 12
r = diameter/2
pi = math.pi
v = (4/3)*pi*(r**3)
print("Volume of the sphere =",v)

Volume of the sphere = 904.7786842338603

In [ ]:
'''Write a program which accepts a sequence of comma-separated numbers from console and
generate a list.'''

In [13]:
num1 = input("enter the number:")
l2 = []
l3 =[]
l4=[]
for l in (num1):
    #print(l)
    l2.append(l)
for a in (l2):
    l3.append(ord(a))
l3.remove(ord(","))
print(l3)

enter the number:121,22,3
[49, 50, 49, 50, 50, 44, 51]

'''Create the below pattern using nested for loop in Python.
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*'''

In [17]:
a = "* "
condi = 4
b = 0
while  b <= condi:
    if b==0:  
        print("*")
    b +=1
    if b > 1:
        print(a*b)
b-=1
while b >= 0:
    print(a*b)
    b-=1

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*